:root {
  --needs-color: green;
  --gets-color: orangered;
}

.scale {
  width: 140px;
  cursor: pointer;
  color: white;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.scale.needs {
  border-color: var(--needs-color);
  border-radius: 99px 0 0 99px;
}
.scale.gets {
  border-color: var(--gets-color);
  border-radius: 0 99px 99px 0;
}

.scale .bar, .scale .mark, .scale .trap, .scale:after {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  transition: 1s ;
}

.scale .trap {
  width: 100%;
  z-index: 1;
}

.scale.needs .bar {
  right: 0;
  background: var(--needs-color);
  width: var(--needs-width);
  border-radius: 9px 0 0 9px;
}

.scale.gets .bar {
  background: var(--gets-color);
  width: var(--gets-width);
  border-radius: 0 9px 9px 0;
}

.scale.needs .mark {
  right: 0;
  border-left: 3px dashed var(--gets-color);
  width: var(--gets-width);
}

.scale.gets .mark {
  border-right: 3px dashed var(--needs-color);
  width: var(--needs-width);
}

.scale:hover .bar {
  width: var(--hover-width);
  transition: .2s;
}

.scale:after {
  content: attr(data-value);
  display: flex;
  align-items: center;
  padding: 4px;
}

.scale.needs:after {
  right: 0;
  width: var(--needs-width);
}

.scale.gets:after {
  width: var(--gets-width);
  justify-content: flex-end;
}

.scale:hover:after {
  content: attr(data-hover-value);
  width: var(--hover-width);
  transition: .2s ;
}