#table-container {
  text-align: center;
  padding: 20px;
}

#table {
  font-size: 1.4rem;
  margin: 15px auto 40px;
}

#table th {
  border: none;
  cursor: pointer;
}

#table th[data-sort], #table th:hover {
  text-decoration: underline;
}

#table td {
  text-align: center;
  font-size: 1.6rem;
}

#table [contenteditable] {
  background-image: linear-gradient(70deg, var(--needs-color), transparent 12%, transparent 88%, var(--gets-color));
  padding: 5px 11px;
  border-color: var(--gets-color) var(--gets-color) var(--needs-color) var(--needs-color);
}

#sliceLabel {
  font-size: 2rem;
  margin: 15px;
}

#table-container button {
  font-size: 1.7rem;
  background-clip: padding-box;
  border: 4px double;
  border-radius: 9px;
  transition: .3s;
}
#table-container button:hover {
  color: white;
  background: #333;
}

#newSliceBtn {
  color: var(--needs-color);
  border-color: var(--needs-color);
}
button#newSliceBtn:hover {
  background: var(--needs-color);
}
#saveSliceBtn {
  color: var(--gets-color);
  border-color: var(--gets-color);
}
button#saveSliceBtn:hover {
  background: var(--gets-color);
}
